<!-- app/views/sessions/new.html.erb -->
<div class="flex justify-center items-center h-screen">
  <div>
    <%= form_with url: login_path, scope: :user do |form| %>
      <div class="space-y-4">
        <%= form.label :email %>
        <%= form.email_field :email, required: true, autofocus: :on, class: "input input-bordered w-full max-w-xs" %>
      </div>
      <div class="space-y-4 py-4">
        <%= form.label :password %>
        <%= form.password_field :password, required: true, class: "input input-bordered w-full max-w-xs" %>
      </div>
      <div class="flex-1 space-x-2 justify-start label">
        <%= form.label :remember_me, class: "label-text" %>
        <%= form.check_box :remember_me, checked: "unchecked", class: "checkbox checkbox-primary" %>
      </div>
      <%= form.submit "Sign In", class: "btn btn-primary mt-4" %>
    <% end %>
    <div>
      <div class="space-y-2 pt-3">
        <div>
          <%= link_to "Forgot your password?", new_password_path, class: "link link-accent" %>
        </div>
        <div>
          <%= link_to "No account? Create one for free!", signup_path, class: "link link-accent" %>
        </div>
      </div>
    </div>
