<!-- app/views/users/edit.html.erb -->
<div class="pl-8">
  <h1>About you</h1>
  <%= form_with model: @user, url: account_path, method: :put do |form| %>
    <%= render partial: "shared/form_errors", locals: { object: form.object } %>
    <div data-controller="image-uploader">
      <div>
        <%= image_tag @user.avatar.variant(resize_to_limit: [100, 100]),
            width: 100, height: 100, class: "mask mask-circle",
            'data-image-uploader-target': 'preview' if @user.avatar.attached? %>
        <%= content_tag :img, nil, src: nil, width: 100, height: 100,
            class: "mask mask-circle",
            'data-image-uploader-target': 'preview' unless @user.avatar.attached? %>
      </p>
    </div>
    <div class="flex-1 space-x-2 py-4">
      <%= form.label :avatar %>
      <%= form.file_field :avatar, 
          direct_upload: true, 
          accept: "image/gif, image/png, image/jpg",
          'data-action': 'image-uploader#changed',
          'data-image-uploader-target': 'input' %>
    </div>
    <div data-image-uploader-target="error_message" class="hidden text-sm text-error">
      An error occured while uploading the image.
    </div>
  </div>
  <div class="flex-1 space-x-2 py-4">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, onfocus: "this.setSelectionRange(this.value.length,this.value.length);", class: "input input-bordered w-full max-w-xs" %>
  </div>
  <div class="flex-1 space-x-2 py-4">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, onfocus: "this.setSelectionRange(this.value.length,this.value.length);", class: "input input-bordered w-full max-w-xs" %>
  </div>
  <div class="flex-1 space-x-2 py-4">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, onfocus: "this.setSelectionRange(this.value.length,this.value.length);", class: "input input-bordered w-full max-w-xs" %>
  </div>
  <div class="flex-1 space-x-2 py-4">
    <%= form.label :bio %>
    <%= form.rich_text_area :bio %>
  </div>
  <%= form.submit "Update Account", class: "btn btn-primary" %>
<% end %>
<h1>Account management</h1>
<%= form_with model: @user, url: account_path, method: :put do |form| %>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <div class="flex-1 space-x-2 py-4">
    <%= form.label :email, "Current Email" %>
    <%= form.email_field :email, class: "input input-bordered w-full max-w-xs" %>
    <p>
      Be careful when changing your email address. You will need to confirm the new one in order to access your account.
    </p>
  </div>
  <h4>PASSWORD CHANGE</h4>
  <div class="flex-1 space-x-2 py-4">
    <%= form.label :current_password %>
    <%= form.password_field :current_password, autocomplete: "current-password", class: "input input-bordered w-full max-w-xs" %>
  </div>
  <div class="flex-1 space-x-2 py-4">
    <%= form.label :password, "New Password" %>
    <%= form.password_field :password, autocomplete: "new-password", class: "input input-bordered w-full max-w-xs" %>
  </div>
  <%= form.submit "Update Account", class: "btn btn-primary" %>
<% end %>
<h1>Active session(s)</h1>
<%= form_with model: @user, url: account_path, method: :put do |form| %>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <% if @active_sessions.any? %>
    <%= button_to "Log out of all other sessions", destroy_all_active_sessions_path, method: :delete %>
    <table>
      <thead>
        <tr>
          <th>User Agent</th>
          <th>IP Address</th>
          <th>Signed In At</th>
          <th>Sign Out</th>
        </tr>
      </thead>
      <tbody>
        <%= render @active_sessions %>
      </tbody>
    </table>
  <% end %>
<% end %>
<h1>DANGER ZONE</h1>
<div>
  <%= link_to "Delete Account", account_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline btn-error" %>
</div>
</div>
