<!-- app/views/users/edit.html.erb -->
<%= form_with model: @user, url: account_path, method: :put do |form| %>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <div>
    <%= form.label :email, "Current Email" %>
    <%= form.email_field :email, disabled: true %>
    <p>
      Be careful when changing your email address. You will need to confirm the new one in order to access your account.
    </p>
  </div>
  <div>
    <%= form.label :nickname %>
    <%= form.text_field :nickname, autofocus: :on %>
  </div>
  <%= form.submit "Update Account" %>
<% end %>
