<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to "WATEE", root_path, class: "btn btn-ghost normal-case text-xl" %>
  </div>
  <div class="flex-none">
    <% if user_signed_in? %>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="https://api.lorem.space/image/face?hash=33791" />
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li><%= link_to "Profile", account_path %></li>
          <li><%= link_to "Logout", logout_path, data: { turbo_method: :delete } %></li>
        </ul>
      </div>
    <% else %>
      <ul class="menu menu-horizontal p-0">
        <li><%= link_to "Login", login_path, class: "brn btn-outline btn-info" %></li>
        <li><%= link_to "Register", signup_path, class: "btn btn-primary" %></li>
      </ul>
    <% end %>
  </div>
</div>
