<!-- app/views/games/index.html.erb -->
<h1>Your games:</h1>
<div class="overflow-x-auto">
  <table class="table w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Shareable</th>
        <th>Public</th>
        <th>Link</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td><%= game.status %></td>
          <td><%= game.shareable ? "Yes" : "No" %></td>
          <td><%= game.public ? "Yes" : "No" %></td>
          <td data-controller="clipboard" class="space-x-1">
            <div class="input-group">
              <input data-clipboard-target="source" type="text" value="<%= game_link(game) %>" readonly class="input input-bordered input-sm w-full max-w-xs">
              <div data-clipboard-target="tooltip" data-tip="copied">
                <button data-action="clipboard#copy" data-clipboard-target="button" class="btn btn-square btn-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2" />
                  </svg>
                </button>
              </div>
            </div>
          </td>
          <td>
            <div data-tip="Preview" class="tooltip">
              <%= link_to play_game_path(game), class: "btn btn-square btn-sm hover:text-primary" do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                  <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                </svg>
              <% end %>
            </div>
            <div data-tip="Start the game!" class="tooltip">
              <%= link_to play_game_path(game), class: "btn btn-square btn-sm hover:text-primary" do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
                </svg>
              <% end %>
            </div>
            <div data-tip="Edit" class="tooltip">
              <%= link_to edit_game_path(game), class: "btn btn-square btn-sm hover:text-primary" do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                  <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                </svg>
              <% end %>
            </div>
            <div data-tip="Archive" class="tooltip">
              <%= link_to game_path(game), class: "btn btn-square btn-sm hover:text-warning" do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z" />
                  <path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
              <% end %>
            </div>
            <div data-tip="Delete" class="tooltip tooltip-error">
              <%= link_to game_path(game), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete " + game.name + "?" }, class: "btn btn-square btn-sm text-error" do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                </svg>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
