<!-- app/views/games/new.html.erb -->
<%= form_with model: @game, url: games_path do |form| %>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <div class="flex-1 space-x-2 py-4">
    <%= form.label :name %>
    <%= form.text_field :name, required: true, autofocus: :on, class: "input input-bordered w-full max-w-xs" %>
  </div>
  <div class="flex-1 space-x-2 py-4">
    <%= form.label :status %>
    <%= form.select :status, 
    options_for_select(Game.statuses.map {|key, value| [key.titleize, Game.statuses.key(value)]}, @game.status), {}, class: "select select-bordered w-full max-w-xs" %>
  </div>
  <div class="flex space-x-2 py-4">
    <%= form.label :shareable %>
    <%= form.check_box :shareable, class: "toggle toggle-primary" %>
  </div>
  <div class="flex space-x-2 py-4">
    <%= form.label :public %>
    <%= form.check_box :public, class: "toggle toggle-primary" %>
  </div>
  <div class="flex-1 space-x-2 py-4">
    <%= form.label :description %>
    <%= form.rich_text_area :description, class: "textarea textarea-bordered h-80" %>
  </div>
  <%= form.submit "Create", class: "btn btn-primary" %>
<% end %>
