<!DOCTYPE html>
<html>
  <head>
    <title>Watee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render partial: "shared/main_navbar" %>
    <div class="relative">
      <%= render partial: "shared/flash_messages" %>
    </div>
    <%= yield %>
  </body>
</html>
